services:
  - type: web
    name: pixelperfect-backend
    env: python
    region: oregon
    buildCommand: "./build.sh"
    startCommand: "gunicorn pixelperfect.wsgi:application -c gunicorn.conf.py"
    healthCheckPath: /api/v1/health/
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
